.DS_Store
.merlin
coverage
node_modules

bundle.js
lerna-debug.log
npm-debug.log
yarn-error.log

*.crt
*.key
*.tsbuildinfo

packages/core/**/*.ts
packages/core/**/*.js
packages/core/**/*.mjs
packages/core/README.md
packages/example/build
packages/perf/build/
