.DS_Store
.merlin
coverage
node_modules

bundle.js
lerna-debug.log
npm-debug.log
yarn-error.log

*.crt
*.key
*.tsbuildinfo
*.bs.js

build/
lib/

packages/core/**/*.ts
packages/core/**/*.js
packages/core/**/*.mjs
packages/core/**/*.re
packages/core/**/*.rei
packages/core/bsconfig.json
packages/core/README.md

mod/*.js
mod/node.*
mod/react.*
