lerna.json
lerna-debug.log
yarn.lock
yarn-error.log

*.crt
*.key
*.svelte
*.tsbuildinfo

.DS_Store
.gitattributes
.gitignore
.merlin
.npmignore
.prettierignore

build
build-types
coverage
docs
mod
packages/core
